html {
  scroll-behavior: smooth;
}

body {
  background-color: blue
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}
  
.logo {
  width: 23%;
  padding: 1%;
}
  
nav {
  width: 73%;
  padding: 1%;
}

ul {
  width: 50%;
  margin-left: auto;
  background-color: #373738;
  padding: 20px;
}
.logo img {
  width: 150px;
  padding: 25px;
  margin-left: auto;
}

.heroImg {
  height: 600px;
  padding: 25px;
}

.content {
  width: 500px;
  padding: 20px;
}

footer {
  background-color: #373738;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
}

li {
  padding: 10px;
  text-align: center;
}

#myskills{
  display: flex;
  justify-content: space-around;
}

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
#myWork-Grid{
  background-color: #4174D9;
}
  }


@media (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    margin-bottom: 25px;
  }

  #myWork-Grid {
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    margin: 0;
  }
}