html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b418c;

}

.inline-block {
  display: inline-flex;
}
  
.logo {
  vertical-align: top;
  padding: 20px;
  
}

nav {
  width: 88%;
  background-color: #79818C;
}

ul {
  width: 50%;
  margin-left: auto;
  padding: 20px;
}

.logo img {
  width: 150px;
  padding: 25px;
  margin-left: auto;
  
}

.heroImg {
  height: 600px;
  padding: 5px;
  background-color: #79818C;
  width: 40%;
  margin-left: 40%;
  font-size: larger;
}

.content {
  width: 500px;
}

footer {
  padding: 20px;
  color: black;
}

ul {
  display: inline-block;
  vertical-align: top;
}

li {
  padding: 10px;
  text-align: center;
}

#myskills{
  display: flex;
  justify-content: space-around;
}

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  padding: auto;
  background-color: #79818C;
}

#myWork-Grid{
  display: grid;
  justify-content: space-evenly;
  text-align:center;
  font-size: large;
}

.project-card {
  display: grid;
  justify-content: space-evenly;
  text-align:center;
}


div {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

div.center {
  display: flex;
  justify-content: center;
}



@media (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    margin-bottom: 25px;
  }

  #myWork-Grid {
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    margin: 0;
  }
}