html {
  scroll-behavior: smooth;
}

body {
height: 100%;
margin: 0;
font-family: rubik, lora;
font-size: 12px;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px;
}
  
.logo {
  vertical-align: left;
  text-align: center;
}

nav {
  width: 73%;
  background-color: #79818C;
  color: black;
}

ul {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  font-family: rubik, lora;
  color: black;
}

.navigation{
  background-color: #79818C;
  width: auto;
  padding: 0 5%;
  text-align: right;
}

.logo img {
  width: 150px;
  padding: 25px;
}

.hero {
  padding: 5%;
  background-color: rgba(250, 250, 255, 0.5);
  text-align: center;
}
.heroLogoContainer{ 
  display: flex;
  max-width: 600px;
  max-height: 300px;
  justify-content: center;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

.aboutMe {
  margin: 1% 5%;
  padding: 10px;
  text-align: center;
}

.content {
  width: 500px;
  color: black;
}

footer {
  padding: 20px;
  color: black;
}

ul {
  display: inline-block;
  vertical-align: top;
}

li {
  padding: 10px;
  text-align: center;
}

#myskills{
  display: flex;
  justify-content: space-around;
}

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  background-color: #79818C;
  color: black;
  
}

#myWork-Grid{
  display: grid;
  justify-content: space-evenly;
  text-align:center;
  font-size: large;
   color: black;
   background-color: rgba(250, 250, 255, 0.5);
}

.project-card {
  display: grid;
  justify-content: space-evenly;
  text-align:center;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

div.center {
  display: flex;
  justify-content: center;
}



@media (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    margin-bottom: 25px;
  }

  #myWork-Grid {
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    margin: 0;
  }
}